langchain
langchain-google-genai
langchain-groq
langgraph
python-dotenv
langchain-community
langchain-docling
docling
faiss-cpu
sentence-transformers
langchain-huggingface
langchain-text-splitters
tiktoken
streamlit
langchain-tavily
tavily